.ui-combobox {
	width:50px;
	position: relative;
	font-size:10pt;
	display: inline-block;
	margin:10px;
}

.ui-autocomplete-loading {
background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

input:focus,textarea:focus,select:focus{
  border:1px solid #fafafa;
  -webkit-box-shadow:0 0 6px #007eff;
  -moz-box-shadow:0 0 5px #007eff;
  box-shadow:0 0 5px #007eff;
  outline: none;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 400px;
  }


.ui-combobox-toggle {
	position: absolute;
	font-size:10pt;
	top: 0;
	bottom: 0;
	margin-left: 0px;
	padding: 0;
/* adjust styles for IE 6/7 */ *height: 2.3em; *;
	
}

.ui-compobox-item {
	font-size:10pt;
}

#customSettingsLabel{ margin: 10px; padding: 0em; width:480px; }

.ui-combobox-input {
	margin: 0;
	width:730px;
	height:30px;
	font-size:10pt;
	padding: 0.3em;
}

.toggler { width: 790px; height: 200px; position: relative; font-size:10pt; }

#RightWizardButtons { padding: .5em 1em; font-size:10pt; margin: 10px; padding: 0.7em; } 

#effect {
	width:790px;
	margin-left: auto ;
	margin-right: auto ;
	text
	margin: 5px;
	font-size:10pt;
	position:relative;
	background: #fff;
	color: #808080;
}

	
#effect h4 { margin: 0; padding: 0.4em; text-align:left; font-size:12pt;}
